<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- cite from: https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_dblclick -->
    <!-- cite from: https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_focus_blur -->
     <!-- cite from: https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_hide_show -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("tr").dblclick(function(){
                $(this).hide();
            });
            $("#searchTitle").dblclick(function(){
                $(this).hide();
            });
            $("input").focus(function(){
                $(this).css("background-color", "#cccccc");
            });
            $("input").blur(function(){
                $(this).css("background-color", "#ffffff");
            });
            $("#mapHider").click(function(){
                $("#contact").hide("slow",function(){
                    alert("The Map is now hidden");
                });
            });
            $("#mapShower").click(function(){
                $("#contact").show();
            });
            $("#FeedbackHider").click(function(){
                $("#PostedFeedback").hide("slow");
            });
            $("#FeedbackShower").click(function(){
                $("#PostedFeedback").show();
            });
        });

    </script>
    <style>

        span.postFeedbackMess{
            padding-left: 20px;
            font-size: x-large;
        }
        legend{
            font-size: medium;
        }
        textarea.replyyy:first-line {
            font-weight: bold;
        }

    </style>






</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Introduction</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Assignment List</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Shiming's Portfolio</h1>
            <h3>CS242 Assignment 3</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Introduction to the Assignment</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Introduction of the Assignment 3</h2>
                    <p class="lead">The goal of this assignment is to create a static website to show the history of SVN submission and the history of project. Please look at  <a target="_blank" href="https://wiki.illinois.edu/wiki/display/cs242/Assignment+3.0">CS242 Assignment 3.0</a> for more details.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Assignment list</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Homework 0</strong>
                                </h4>
                                <p>This is the practice of Java</p>
                                <form method = "GET" action = "/findassignment/HW0">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 0</strong>
                                </h4>
                                <p>This is the past project experience</p>
                                <form method = "GET" action = "/findassignment/Assignment0">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 1.0</strong>
                                </h4>
                                <p>This is the first part of chessLib</p>
                                <form method = "GET" action = "/findassignment/Assignment1.0">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 1.1</strong>
                                </h4>
                                <p>This is the second part of chessLib</p>
                                <form method = "GET" action = "/findassignment/Assignment1.1">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 1.2</strong>
                                </h4>
                                <p>This is the final part of ChessLib </p>
                                <form method = "GET" action = "/findassignment/Assignment1.2">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 2.0</strong>
                                </h4>
                                <p>This is the first part of WikiMovie</p>
                                <form method = "GET" action = "/findassignment/Assignment2.0">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Assignment 2.1</strong>
                                </h4>
                                <p>This is the second part of WikiMovie</p>
                                <form method = "GET" action = "/findassignment/Assignment2.1">
                                    <input name = "Learn More" value = "Learn More" type = "submit" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside> -->

    <!-- Call to Action
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                    <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                </div>
            </div>
        </div>
    </aside> -->


    <!-- Feedback -->
    <section id="feedback" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Please leave your feedback</h2>
                    <form method = "post" action = "/post_feedback_test">
                        <p>
                            <label>Subject</label>
                            <input id = "subject" name = "subject" value="Main" type = "text" align="center" size="20" />
                        </p>
                        <label>Your Name:</label>
                        <input id = "name" name = "name" type = "text" size="50" />
                        <p>
                            <label>You Feedback:</label>
                            <textarea name = "mess" id="mess" rows="5" cols="30"></textarea>
                        </p>
                        <input name = "Learn More" type = "submit" />
                    </form>
                    <!--<br>-->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <button id="FeedbackShower">Show Posted Feedback</button>
    <button id="FeedbackHider">Hide Posted Feedback</button>
    <section id="PostedFeedback" class="about">
        <div class="container">
            <div class="row">

                    <h2>Posted Feedback</h2>

                    {% for iiii in arr %}

                        <fieldset>
                            <legend><b>{{iiii['name']}} said:</b></legend>
                                <span class = "postFeedbackMess">{{iiii['message']}}</span>
                                <br>
                                <form method = "post" action = "/post_feedback_test">
                                    <label>Replyer:</label>
                                    <input id = "name" name = "name" type = "text" size="20" />
                                    <label> Subject</label>
                                    <input id = "subject" name = "subject" value="Main" type = "text" align="center" size="20" />
                                    <label>You Reply:</label>
                                    <textarea class="replyyy" name = "mess" id="mess" rows="3" cols="60">{{iiii['name']}} said {{iiii['message']}}&#13;&#10Your reply:&#13;&#10</textarea>
                                    <input name = "Sumbit Reply" value="Reply" type = "submit" />
                                 </form>
                        </fieldset>
                        <br>


                    {%endfor%}
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>



    <section id="searchFFFF" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Search Feedback</h2>

                    <form method = "get" action = "/find_feedback/Main">

                        <input id = "searchfeedback" name = "searchfeedback" type = "text" size="50" />
                        <input name = "Search" value = "Search" type = "submit" />
                    </form>


                    {% if showornot == 1 %}
                        {%if arr1|length == 0 %}
                            <section id="returnFeed" class="about">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h2 id="searchTitle">There is no searched feedback yet.</h2>
                                        </div>
                                    </div>
            <!-- /.row -->
                                </div>
        <!-- /.container -->
                            </section>
                        {%else %}
                            <section id="emptyFeed" class="about">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h2 id="searchTitle1">All of Searched Feedback</h2>

                                                <p>
                                                    <table>
                                                        <tr>
                                                            <th>{{'Commentor'}}</th>
                                                            <th>{{'Comments'}}</th>
                                                        </tr>
                                                        {% for iii in arr1 %}
                                                            <tr>
                                                                <td>{{iii['name']}}</td>
                                                                <td>{{iii['message']}}</td>
                                                            </tr>
                                                        {%endfor%}
                                                    <table>
                                                </p>
                                        </div>
                                    </div>
            <!-- /.row -->
                                </div>
        <!-- /.container -->
                            </section>
                        {%endif%}
                    {%endif%}
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <section id="redwordlist" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Set up RedWordList</h2>
                    <form method = "post" action = "/post_redwordlist">
                        <p>
                            <label>Implement Redtag Words (Please put , between each word)</label>
                            <br>
                            <input id = "redtag" name = "redtag" type = "text" align="center" size="50" />
                            <br>
                            <label>Implement Replace Words (Please put , between each word)</label>
                            <br>
                            <input id = "replacetag" name = "replacetag" type = "text" align="center" size="50" />
                            <br>
                            <input name = "Sumbitredword" type = "submit" />
                        </p>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <button id="mapShower">Show Map</button>
    <button id="mapHider">Hide Map</button>
    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br />

    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Shiming Song</strong>
                    </h4>
                    <p>1110 W Stoughton St
                        <br>Urbana, IL 61801</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">ssong38@illinois.edu</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
